.background-image {
    background-image: url('../images/Background.jpg'); /* Replace 'your-image.jpg' with your actual image filename */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
  }

  .background-image-overlay {
    background-image: url('../images/Background-Overlay.png'); /* Replace 'your-image.jpg' with your actual image filename */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
  }

.backgroundTransparent{
  background-color: rgba(0, 162, 59, 0.538);
}

.backgroundTransparent-extra{
  background-color: rgba(0, 162, 59, 0.76);
}

.labelinfo{
  font-size: 16px;
  font-weight: 70 0;
  color: rgb(220, 220, 220);
}

.leftNavigationLabelInstructor{
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  background-color: rgba(60, 81, 54, 0.315);
  margin-top: 4px;
  cursor: pointer;
}